<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a routerLink="" class="navbar-brand">Hane Yönetimi</a>
      <img routerLink="" src="assets/pexels-goumbik-590022.jpg">
     
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <div class="btn-group m-1">
            <button type="button" class="btn btn-secondary">Harcama İşlemleri</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Harcama İşlemleri</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Harcama Ekle</a></li>
              <li><a class="dropdown-item" href="#">Harcama Güncelle</a></li>
              <li><a class="dropdown-item" href="#">Harcama Sil</a></li>
             
            </ul>
          </div>
          <div class="btn-group m-1">
            <button type="button" class="btn btn-secondary">Kategori İşlemleri</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Kategori İşlemleri</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Kategori Ekle</a></li>
              <li><a class="dropdown-item" href="#">Kategori Güncelle</a></li>
              <li><a class="dropdown-item" href="#">Kategori Sil</a></li>
             
            </ul>
          </div>
          <div class="btn-group m-1">
            <button type="button" class="btn btn-secondary">Kullanıcı İşlemleri</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Kullanıcı İşlemleri</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Kullanıcı Ekle</a></li>
              <li><a class="dropdown-item" href="#">Kullanıcı Güncelle</a></li>
              <li><a class="dropdown-item" href="#">Kullanıcı Sil</a></li>
             
            </ul>
          </div>
          <div class="btn-group m-1">
            <button type="button" class="btn btn-secondary">Gelir İşlemleri</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Gelir İşlemleri</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Gelir Ekle</a></li>
              <li><a class="dropdown-item" href="#">Gelir Güncelle</a></li>
              <li><a class="dropdown-item" href="#">Gelir Sil</a></li>
             
            </ul>
          </div>
          <div class="btn-group m-1">
            <button type="button" class="btn btn-secondary">Ürün İşlemleri</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Ürün İşlemleri</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ürün ekle</a></li>
              <li><a class="dropdown-item" href="#">Ürün Güncelle</a></li>
              <li><a class="dropdown-item" href="#">Ürün Sil</a></li>
             
            </ul>
          </div>
          <div class="btn-group m-1">
            <button type="button" class="btn btn-secondary">Yetki İşlemleri</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Yetki İşlemleri</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Yetki Ekle</a></li>
              <li><a class="dropdown-item" href="#">Yetki Güncelle</a></li>
              <li><a class="dropdown-item" href="#">Yetki Sil</a></li>
             
            </ul>
          </div>
          <div class="btn-group m-1">
            <button type="button" class="btn btn-secondary">Birim İşlemleri</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Birim İşlemleri</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Birim Ekle</a></li>
              <li><a class="dropdown-item" href="#">Birim Güncelle</a></li>
              <li><a class="dropdown-item" href="#">Birim Sil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div> -->
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
       
      </div>
    </div>
  </nav>