<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card m" style="width: 18rem">
        <img
          class="card-img-top"
          src="assets/pexels-pixabay-259200.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Harcama İşlemleri</h5>
          <p class="card-text">
            Ailenin yaptığı harcamalarla ilgili işlemleri içerir.
          </p>
          <a  class="btn btn-primary" routerLink="expenses">Harcama İşlemleri</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card m" style="width: 18rem">
        <img
          class="card-img-top"
          src="assets/pexels-karolina-grabowska-4386373.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Kategori İşlemleri</h5>
          <p class="card-text">
            Kategori ile ilgili işlemlerin yapıldığı bölüm
          </p>
          <a routerLink="categories" class="btn btn-primary">Kategori İşlemleri</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card m" style="width: 18rem">
        <img
          class="card-img-top"
          src="assets/pexels-falling4utah-2724749.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Kullanıcı İşlemleri</h5>
          <p class="card-text">
            Kullanıcı ile ilgili işlemlerin yapıldığı bölüm
          </p>
          <a routerLink="familypersons" class="btn btn-primary">Kullanıcı İşlemleri</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card m" style="width: 18rem">
        <img
          class="card-img-top"
          src="assets/pexels-karolina-grabowska-5902919.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Gelir İşlemleri</h5>
          <p class="card-text">
            Kullanıcıların gelirleriyle ilgili işlemlerin yapıldığı bölüm
          </p>
          <a routerLink="incomes" class="btn btn-primary">Gelir İşlemleri</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card m" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/pexels-abdel-achkouk-2861018-30338439.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ürün İşlemleri</h5>
            <p class="card-text">
              Ailenin yaptığı gider kalemleri işlemlerinin yapıldığı bölüm
            </p>
            <a routerLink="marketitems" class="btn btn-primary">Ürün İşlemleri</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card m" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/pexels-eye4dtail-115642.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Yetki İşlemleri</h5>
            <p class="card-text">
              Yetki ile ilgili işlemlerin yapıldığı bölüm
            </p>
            <a routerLink="roles" class="btn btn-primary">Yetki İşlemleri</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card m" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/pexels-lifeofnacchi-4124939.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Birim İşlemleri</h5>
            <p class="card-text">
              Birim ile ilgili işlemlerin yapıldığı bölüm
            </p>
            <a routerLink="units" class="btn btn-primary">Birim İşlemleri</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card m" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/pexels-mart-production-7605981.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Raporlama İşlemleri</h5>
            <p class="card-text">
              Kullanıcıların gelirleriyle ilgili işlemlerin yapıldığı bölüm
            </p>
            <a href="#" class="btn btn-primary">Raporlama İşlemleri</a>
          </div>
        </div>
      </div>
    </div>
  </div>


