<table class="table">
  <thead>
    <tr>
      <th>Family Id</th>
      <th>Adı Soyadı</th>
      <th>Email</th>
      <th>Profil Resmi</th>
    </tr>
  </thead>

  <tr *ngFor="let familyPerson of familyPersons">
    <td>{{ familyPerson.id }}</td>
    <td>{{ familyPerson.fullName }}</td>
    <td>{{ familyPerson.email }}</td>
    <td>
      <img [src]="'https://localhost:7039/uploads/profile_pictures/' + familyPerson.profilePicture"
      class="img-thumbnail" alt="Profil Resmi" style="width: 100px; height: auto;" />
    </td>
  </tr>
</table>
<div class="container">
  <h2>FamilyPerson Oluşturma</h2>
  <form [formGroup]="personForm" (ngSubmit)="onPersonFormSubmit()">
    <div>
      <label for="fullName">Full Name:</label>
      <input
        id="fullName"
        class="form-control"
        formControlName="fullName"
        type="text"
        placeholder="Ad Soyad"
      />
      <div *ngIf="personForm.get('fullName')?.invalid && personForm.get('fullName')?.touched">
        <small style="color: red;">Zorunlu alan.</small>
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input
        id="email"
        class="form-control"
        formControlName="email"
        type="email"
        placeholder="Email"
      />
      <div *ngIf="personForm.get('email')?.invalid && personForm.get('email')?.touched">
        <small style="color: red;">Geçerli bir email giriniz.</small>
      </div>
    </div>

    <div>
      
      <input
        id="password"
        class="form-control"
        formControlName="password"
        type="password"
        placeholder="Şifre"
      />
      <div *ngIf="personForm.get('password')?.invalid && personForm.get('password')?.touched">
        <small style="color: red;">Zorunlu alan.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="roleId"><h6>Rol</h6></label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="roleId"
        formControlName="roleId"  
        value="roleId"           
      >
      <option selected>
       Rol seçiniz
      </option>
        <option *ngFor="let role of roles" [ngValue]="role.id">
          {{ role.name }}
        </option>
      </select>
    </div>
<div>
  <button class="btn btn-success" type="submit" [disabled]="personForm.invalid">Kişiyi Ekle (Fotoğrafsız)</button>
</div>  

  </form>

  <hr />
  <div>
    <button class="btn btn-success" type="submit" routerLink="/familypersons/upload-profile-picture/familyPersonId" >Var olan kişiye profil fotoğrafı ata</button>
  </div>
  
 
</div>
