<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5>Birim Ekleme</h5></div>
        <div class="card-body">
          <form [formGroup]="unitAddForm" ngForm="add()">
            <div class="mb-3">
              <label for="Name"><h6>Birim Adı</h6></label>
              <input
                class="form-control"
                type="text"
                id="Name"
                formControlName="Name"
                placeholder="Birim adı giriniz"
              />
            </div>   
           
           
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-primary" (click)="add()">Kaydet</button>
        </div>
      </div>
    </div>
  </div>